<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>new Player</title>
</head>
<body>
<form th:method="POST" th:action="@{/teams/{id}(id=${team.getID()})}" th:object="${player}">
  <label for="name">Name</label>
  <input type="text" th:field="*{name}" id="name"><br>
  <label for="age">Age</label>
  <input type="number" th:field="*{age}" id="age"><br>
  <label for="number">Number</label>
  <input type="text" th:field="*{number}" id="number"><br>
  <label for="position">Position</label>
  <input type="text" th:field="*{position}" id="position"><br>
  <input type="submit" value="Add Player">
</form>
</body>
</html>