<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Team</title>
</head>
<body>
<form th:method="POST" th:action="@{/teams}" th:object="${team}">
  <label for="name">Name</label>
  <input type="text" th:field="*{name}" id="name" required="required"><br>
  <label for="coach">Coach</label>
  <input type="text" th:field="*{coach}" id="coach" required="required"><br>
  <label for="sponsor">Sponsor</label>
  <input type="text" th:field="*{sponsor}" id="sponsor" required="required"><br>
  <input type="submit" value="Create">
</form>
</body>
</html>