<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Player</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/players/{id}(id = ${player.getID()})}" th:object="${player}">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" >
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br/>
    <label for="age">Name</label>
    <input type="text" th:field="*{age}" id="age" >
    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
    <br/>
    <label for="number">Number</label>
    <input type="number" th:field="*{number}" id="number" >
    <div style="color:red" th:if="${#fields.hasErrors('number')}" th:errors="*{number}">Number error</div>
    <br/>
    Position<br>
    <label for="goalkeeper"></label>
    <input type="radio" th:field="*{position}" name="position" id="goalkeeper" value="goalkeeper" >
    <div style="color:red" th:if="${#fields.hasErrors('position')}" th:errors="*{position}">Position error</div>
    Goalkeeper
    <label for="defender"></label>
    <input type="radio" th:field="*{position}" name="position" id="defender" value="defender" >
    <div style="color:red" th:if="${#fields.hasErrors('position')}" th:errors="*{position}">Position error</div>
    Defender
    <label for="forward"></label>
    <input type="radio" th:field="*{position}"  id="forward" name="position" value="forward" >
    <div style="color:red" th:if="${#fields.hasErrors('position')}" th:errors="*{position}">Position error</div>
    Forward<br/>
    <input type="submit" value="Update">
</form>
</body>
</html>