<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Player</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/players/{id}(id = ${player.getID()})}" th:object="${player}">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" required="required">
    <br/>
    <label for="age">Name</label>
    <input type="text" th:field="*{age}" id="age" required="required">
    <br/>
    <label for="number">Number</label>
    <input type="number" th:field="*{number}" id="number" required="required">
    <br/>
    <label for="position">Position</label>
    <input type="text" th:field="*{position}" id="position" required="required">
    <br/>
    <input type="submit" value="Update">
</form>
</body>
</html>