<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Player Info</title>
</head>
<body>
    <label for="name">Name:</label>
    <b th:text="${player.getName()}" id="name">name</b> <br>
    <label for="team">Team:</label>
    <b th:text="${player.getTeam()}" id="team">name</b> <br>
    <label for="age">Name</label>
    <b th:text="${player.getAge()}"  id="age"></b> <br/>
    <label for="number">Number:</label>
    <b th:text="${player.getNumber()}" id="number">number</b> <br>
    <label for="position">Positon:</label>
    <b th:text="${player.getPosition()}" id="position">position</b> <br>
    <a th:href="@{/players/{id}/edit(id= ${player.getID()})}">Edit</a>
    <p>
    <form th:method="DELETE" th:action="@{/players/{id}(id= ${player.getID()})}">
        <input type="submit" value="DELETE">
    </form>
</body>
</html>